$primary-color: #3e77b4;
$secondary-color: #6c757d;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;


$background-color: #047BC4;
$text-color: #333;
$border-color: #e0e0e0;

$sidebar-width: 250px;